/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 基本 body 风格 */
html, body, #root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* 文本选择样式 */
::selection {
  background-color: rgb(209, 250, 229); /* emerald-100 */
  color: rgb(15, 23, 42); /* slate-800 */
}

::-moz-selection {
  background-color: rgb(209, 250, 229);
  color: rgb(15, 23, 42);
}
